body {background-color: LightSteelBlue;}
h1   {color: blue;}
p    {color: black;}

.center {
	text-align: center;
	border: 3px solid green;
}
	
input[type=text] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: none;
	background-color: #3CBC8D;
	color: white;
}

outputLabel [type=text] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: none;
	background-color: #3CBC8D;
	color:black;
}